<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="002689bff4974b73b30ce874606bb36f" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_002689bff4974b73b30ce874606bb36f = echarts.init(
            document.getElementById('002689bff4974b73b30ce874606bb36f'), 'white', {renderer: 'canvas'});
        var option_002689bff4974b73b30ce874606bb36f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u793e\u533a",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,4,146)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u683c\u5316",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(104,122,10)"
                        }
                    }
                },
                {
                    "name": "\u536b\u751f\u9632\u62a4",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,76,54)"
                        }
                    }
                },
                {
                    "name": "\u6ba1\u846c",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,117,99)"
                        }
                    }
                },
                {
                    "name": "\u9057\u4f53",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(75,46,157)"
                        }
                    }
                },
                {
                    "name": "\u963b\u51fb\u6218",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,18,5)"
                        }
                    }
                },
                {
                    "name": "\u536b\u751f\u9632\u75ab",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,143,91)"
                        }
                    }
                },
                {
                    "name": "\u4eba\u529b\u8d44\u6e90",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(155,21,71)"
                        }
                    }
                },
                {
                    "name": "\u793e\u4f1a\u4fdd\u969c",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,69,150)"
                        }
                    }
                },
                {
                    "name": "\u4ea4\u53c9\u611f\u67d3",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,24,155)"
                        }
                    }
                },
                {
                    "name": "\u9694\u79bb",
                    "value": 7,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,16,123)"
                        }
                    }
                },
                {
                    "name": "\u533b\u5b66\u89c2\u5bdf",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(98,23,138)"
                        }
                    }
                },
                {
                    "name": "\u8001\u5e74\u4eba",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,120,57)"
                        }
                    }
                },
                {
                    "name": "\u60a3\u8005",
                    "value": 7,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,117,140)"
                        }
                    }
                },
                {
                    "name": "\u6551\u6cbb",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(86,98,80)"
                        }
                    }
                },
                {
                    "name": "\u9884\u68c0\u5206\u8bca",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,61,29)"
                        }
                    }
                },
                {
                    "name": "\u53d1\u70ed",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(126,126,117)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u4f8b",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(137,143,50)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,50,20)"
                        }
                    }
                },
                {
                    "name": "\u91ce\u751f\u52a8\u7269",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,74,125)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597\u673a\u6784",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,47,59)"
                        }
                    }
                },
                {
                    "name": "\u8fdb\u53e3",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,80,36)"
                        }
                    }
                },
                {
                    "name": "\u5fc3\u7406",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(13,152,98)"
                        }
                    }
                },
                {
                    "name": "\u5fc3\u7406\u5065\u5eb7",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(67,152,62)"
                        }
                    }
                },
                {
                    "name": "\u6e56\u5317\u7701",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,77,153)"
                        }
                    }
                },
                {
                    "name": "\u53e3\u7f69",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,65,33)"
                        }
                    }
                },
                {
                    "name": "\u91cd\u75c7",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,76,143)"
                        }
                    }
                },
                {
                    "name": "\u8d22\u653f\u90e8",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,26,63)"
                        }
                    }
                },
                {
                    "name": "\u7269\u8d44",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(104,81,117)"
                        }
                    }
                },
                {
                    "name": "\u6d77\u5173",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(92,9,113)"
                        }
                    }
                },
                {
                    "name": "\u6d77\u5173\u603b\u7f72",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,0,142)"
                        }
                    }
                },
                {
                    "name": "\u6d41\u884c\u75c5\u5b66",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(91,131,86)"
                        }
                    }
                },
                {
                    "name": "\u5c45\u5bb6",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(157,100,105)"
                        }
                    }
                },
                {
                    "name": "\u5916\u9632",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,87,103)"
                        }
                    }
                },
                {
                    "name": "\u65e9\u9694\u79bb",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,105,118)"
                        }
                    }
                },
                {
                    "name": "\u533b\u52a1",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(104,139,160)"
                        }
                    }
                },
                {
                    "name": "\u575a\u5b88\u5c97\u4f4d",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(125,118,130)"
                        }
                    }
                },
                {
                    "name": "\u5d07\u9ad8\u7cbe\u795e",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(159,112,72)"
                        }
                    }
                },
                {
                    "name": "\u6c11\u822a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(64,131,138)"
                        }
                    }
                },
                {
                    "name": "\u9884\u9632",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,86,62)"
                        }
                    }
                },
                {
                    "name": "\u94c1\u8def",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,82,93)"
                        }
                    }
                },
                {
                    "name": "\u68c0\u75ab",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,154,69)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u6bd2",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(155,63,8)"
                        }
                    }
                },
                {
                    "name": "\u751f\u7269",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,46,4)"
                        }
                    }
                },
                {
                    "name": "\u5305\u88c5",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,68,78)"
                        }
                    }
                },
                {
                    "name": "\u68c0\u6d4b",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(99,94,77)"
                        }
                    }
                },
                {
                    "name": "\u6bd2\u682a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(120,36,38)"
                        }
                    }
                },
                {
                    "name": "\u52a8\u7269",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(86,14,130)"
                        }
                    }
                },
                {
                    "name": "\u6838\u9178",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,79,90)"
                        }
                    }
                },
                {
                    "name": "\u805a\u96c6",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,51,36)"
                        }
                    }
                },
                {
                    "name": "\u533b\u52a1\u4eba\u5458",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,52,146)"
                        }
                    }
                },
                {
                    "name": "\u4f1a\u8bca",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,67,125)"
                        }
                    }
                },
                {
                    "name": "\u6cbb\u7597",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,148,142)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "1\u6708\u5173\u952e\u8bcd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_002689bff4974b73b30ce874606bb36f.setOption(option_002689bff4974b73b30ce874606bb36f);
    </script>
</body>
</html>
