<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="ec5e7d72ba9d48eb8150e06275b3e286" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_ec5e7d72ba9d48eb8150e06275b3e286 = echarts.init(
            document.getElementById('ec5e7d72ba9d48eb8150e06275b3e286'), 'white', {renderer: 'canvas'});
        var option_ec5e7d72ba9d48eb8150e06275b3e286 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u53e3\u7f69",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,131,138)"
                        }
                    }
                },
                {
                    "name": "\u68c0\u6d4b",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(49,153,91)"
                        }
                    }
                },
                {
                    "name": "\u6838\u9178",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,88,0)"
                        }
                    }
                },
                {
                    "name": "\u60a3\u8005",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(16,118,20)"
                        }
                    }
                },
                {
                    "name": "\u9884\u9632",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,153,45)"
                        }
                    }
                },
                {
                    "name": "\u53d1\u70ed",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(1,33,139)"
                        }
                    }
                },
                {
                    "name": "\u6551\u6cbb",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,35,57)"
                        }
                    }
                },
                {
                    "name": "\u94c1\u8def",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,104,31)"
                        }
                    }
                },
                {
                    "name": "\u5148\u8fdb\u4e2a\u4eba",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,93,118)"
                        }
                    }
                },
                {
                    "name": "\u5148\u8fdb\u96c6\u4f53",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(97,136,34)"
                        }
                    }
                },
                {
                    "name": "\u6297\u75ab",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,104,51)"
                        }
                    }
                },
                {
                    "name": "\u53d7\u8868\u5f70",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,128,2)"
                        }
                    }
                },
                {
                    "name": "\u8868\u5f70",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(110,100,106)"
                        }
                    }
                },
                {
                    "name": "\u9ad8\u7b49\u5b66\u6821",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(93,127,20)"
                        }
                    }
                },
                {
                    "name": "\u51b7\u94fe",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,87,127)"
                        }
                    }
                },
                {
                    "name": "\u98df\u54c1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,74,85)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u6bd2",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(137,48,69)"
                        }
                    }
                },
                {
                    "name": "\u751f\u4ea7",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,98,58)"
                        }
                    }
                },
                {
                    "name": "\u4e0a\u5c97",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,121,151)"
                        }
                    }
                },
                {
                    "name": "\u4ece\u4e1a\u4eba\u5458",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(103,73,145)"
                        }
                    }
                },
                {
                    "name": "\u5e08\u751f",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,157,127)"
                        }
                    }
                },
                {
                    "name": "\u5fc3\u7406",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,71,9)"
                        }
                    }
                },
                {
                    "name": "\u7ebf\u4e0a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(20,50,19)"
                        }
                    }
                },
                {
                    "name": "\u9ad8\u6821",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,153,143)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "10\u6708\u5173\u952e\u8bcd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_ec5e7d72ba9d48eb8150e06275b3e286.setOption(option_ec5e7d72ba9d48eb8150e06275b3e286);
    </script>
</body>
</html>
