<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="e853e16deba34eb0bc0bdc20e59a8ef6" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_e853e16deba34eb0bc0bdc20e59a8ef6 = echarts.init(
            document.getElementById('e853e16deba34eb0bc0bdc20e59a8ef6'), 'white', {renderer: 'canvas'});
        var option_e853e16deba34eb0bc0bdc20e59a8ef6 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u5c31\u4e1a",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,11,71)"
                        }
                    }
                },
                {
                    "name": "\u4eba\u529b\u8d44\u6e90",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,92,78)"
                        }
                    }
                },
                {
                    "name": "\u6bd5\u4e1a\u751f",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(13,147,153)"
                        }
                    }
                },
                {
                    "name": "\u9ad8\u6821",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,72,154)"
                        }
                    }
                },
                {
                    "name": "\u8d22\u653f\u90e8",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,130,80)"
                        }
                    }
                },
                {
                    "name": "\u590d\u5de5",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,70,116)"
                        }
                    }
                },
                {
                    "name": "\u8fd4\u5c97",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,71,79)"
                        }
                    }
                },
                {
                    "name": "\u533b\u52a1\u4eba\u5458",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(89,131,159)"
                        }
                    }
                },
                {
                    "name": "\u536b\u751f\u9632\u75ab",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,82,140)"
                        }
                    }
                },
                {
                    "name": "\u9694\u79bb",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,134,13)"
                        }
                    }
                },
                {
                    "name": "\u6551\u6cbb",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(27,27,138)"
                        }
                    }
                },
                {
                    "name": "\u5f00\u5b66",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,96,62)"
                        }
                    }
                },
                {
                    "name": "\u8fd4\u6821",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,144,152)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u6bd2\u68c0\u6d4b",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,38,95)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597\u5668\u68b0",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(92,109,104)"
                        }
                    }
                },
                {
                    "name": "\u68c0\u6d4b",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(62,8,138)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,56,35)"
                        }
                    }
                },
                {
                    "name": "\u6062\u590d\u6b63\u5e38",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,101,134)"
                        }
                    }
                },
                {
                    "name": "\u60a3\u8005",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(137,20,150)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597\u673a\u6784",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(96,21,79)"
                        }
                    }
                },
                {
                    "name": "\u8fdc\u7a0b",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(30,5,120)"
                        }
                    }
                },
                {
                    "name": "\u5fc3\u7406",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(127,39,54)"
                        }
                    }
                },
                {
                    "name": "\u793e\u533a",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,129,53)"
                        }
                    }
                },
                {
                    "name": "\u6cbb\u6108",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(16,89,58)"
                        }
                    }
                },
                {
                    "name": "\u575a\u5b88\u5c97\u4f4d",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(137,60,155)"
                        }
                    }
                },
                {
                    "name": "\u53e3\u7f69",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,45,101)"
                        }
                    }
                },
                {
                    "name": "\u5c45\u5bb6",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,151,36)"
                        }
                    }
                },
                {
                    "name": "\u6e56\u5317",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,143,2)"
                        }
                    }
                },
                {
                    "name": "\u51fa\u9662",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(59,21,6)"
                        }
                    }
                },
                {
                    "name": "\u5eb7\u590d",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(128,6,91)"
                        }
                    }
                },
                {
                    "name": "\u590d\u8bca",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(41,106,76)"
                        }
                    }
                },
                {
                    "name": "\u533b\u5b66\u89c2\u5bdf",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(57,42,20)"
                        }
                    }
                },
                {
                    "name": "\u8239\u5458",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,143,110)"
                        }
                    }
                },
                {
                    "name": "\u5883\u5916",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(10,117,143)"
                        }
                    }
                },
                {
                    "name": "\u751f\u4ea7",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,72,25)"
                        }
                    }
                },
                {
                    "name": "\u6c11\u822a",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,41,130)"
                        }
                    }
                },
                {
                    "name": "\u822a\u7a7a\u516c\u53f8",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,160,14)"
                        }
                    }
                },
                {
                    "name": "\u6c11\u822a\u5c40",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,10,53)"
                        }
                    }
                },
                {
                    "name": "\u533b\u52a1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,43,130)"
                        }
                    }
                },
                {
                    "name": "\u611f\u67d3\u8005",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,103,124)"
                        }
                    }
                },
                {
                    "name": "\u6e56\u5317\u7701",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,49,117)"
                        }
                    }
                },
                {
                    "name": "\u5fc3\u7406\u5065\u5eb7",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,137,23)"
                        }
                    }
                },
                {
                    "name": "\u5eb7\u590d\u8005",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,119,106)"
                        }
                    }
                },
                {
                    "name": "\u6cbb\u7597",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(75,111,73)"
                        }
                    }
                },
                {
                    "name": "\u8840\u6d46",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,148,60)"
                        }
                    }
                },
                {
                    "name": "\u6cbb\u6108\u7387",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(25,47,152)"
                        }
                    }
                },
                {
                    "name": "\u590d\u4ea7",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(39,105,9)"
                        }
                    }
                },
                {
                    "name": "\u5916\u9632",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(78,126,11)"
                        }
                    }
                },
                {
                    "name": "\u5ba2\u8fd0",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,78,144)"
                        }
                    }
                },
                {
                    "name": "\u9ad8\u7b49\u5b66\u6821",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(29,60,51)"
                        }
                    }
                },
                {
                    "name": "\u5546\u52a1\u90e8",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(92,32,92)"
                        }
                    }
                },
                {
                    "name": "\u5d07\u9ad8\u7cbe\u795e",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(84,145,75)"
                        }
                    }
                },
                {
                    "name": "\u6d41\u884c\u75c5\u5b66",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,50,18)"
                        }
                    }
                },
                {
                    "name": "\u91c7\u6837",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(30,87,105)"
                        }
                    }
                },
                {
                    "name": "\u7ebf\u4e0a",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(12,157,130)"
                        }
                    }
                },
                {
                    "name": "\u793e\u4f1a\u4fdd\u969c",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(160,68,92)"
                        }
                    }
                },
                {
                    "name": "\u751f\u7269",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,95,86)"
                        }
                    }
                },
                {
                    "name": "\u62ed\u5b50",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,117,115)"
                        }
                    }
                },
                {
                    "name": "\u75be\u63a7\u4e2d\u5fc3",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(26,14,66)"
                        }
                    }
                },
                {
                    "name": "\u5148\u8fdb\u4e2a\u4eba",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,68,128)"
                        }
                    }
                },
                {
                    "name": "\u5148\u8fdb\u96c6\u4f53",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(103,85,0)"
                        }
                    }
                },
                {
                    "name": "\u8868\u5f70",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,72,99)"
                        }
                    }
                },
                {
                    "name": "\u53d7\u8868\u5f70",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,9,2)"
                        }
                    }
                },
                {
                    "name": "\u6297\u75ab",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,90,17)"
                        }
                    }
                },
                {
                    "name": "\u5916\u6765\u4eba\u5458",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(133,66,46)"
                        }
                    }
                },
                {
                    "name": "\u9519\u5cf0",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,7,67)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "3\u6708\u5173\u952e\u8bcd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_e853e16deba34eb0bc0bdc20e59a8ef6.setOption(option_e853e16deba34eb0bc0bdc20e59a8ef6);
    </script>
</body>
</html>
