<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="33a6e443a5a8401798bdf0f77c4601d9" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_33a6e443a5a8401798bdf0f77c4601d9 = echarts.init(
            document.getElementById('33a6e443a5a8401798bdf0f77c4601d9'), 'white', {renderer: 'canvas'});
        var option_33a6e443a5a8401798bdf0f77c4601d9 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u4eba\u6c11\u6cd5\u9662",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,160,89)"
                        }
                    }
                },
                {
                    "name": "\u8bc9\u8bbc",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,48,95)"
                        }
                    }
                },
                {
                    "name": "\u5305\u88c5",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(144,48,26)"
                        }
                    }
                },
                {
                    "name": "\u590d\u4ea7",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(28,141,5)"
                        }
                    }
                },
                {
                    "name": "\u590d\u5de5",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,72,34)"
                        }
                    }
                },
                {
                    "name": "\u805a\u96c6",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,21,62)"
                        }
                    }
                },
                {
                    "name": "\u51fa\u9662",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,70,0)"
                        }
                    }
                },
                {
                    "name": "\u60a3\u8005",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(64,85,20)"
                        }
                    }
                },
                {
                    "name": "\u9694\u79bb",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,114,9)"
                        }
                    }
                },
                {
                    "name": "\u590d\u8bca",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,27,43)"
                        }
                    }
                },
                {
                    "name": "\u5eb7\u590d",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,46,84)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597\u673a\u6784",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,25,51)"
                        }
                    }
                },
                {
                    "name": "\u5c45\u5bb6",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,110,52)"
                        }
                    }
                },
                {
                    "name": "\u6838\u9178",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(118,154,47)"
                        }
                    }
                },
                {
                    "name": "\u611f\u67d3\u8005",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(144,146,58)"
                        }
                    }
                },
                {
                    "name": "\u533b\u5b66\u89c2\u5bdf",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(135,70,42)"
                        }
                    }
                },
                {
                    "name": "\u68c0\u6d4b",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,94,129)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u6bd2",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(57,7,114)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u4f8b",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,115,135)"
                        }
                    }
                },
                {
                    "name": "\u89e3\u9664",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,132,97)"
                        }
                    }
                },
                {
                    "name": "\u70c8\u58eb",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,6,36)"
                        }
                    }
                },
                {
                    "name": "\u727a\u7272",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,153,124)"
                        }
                    }
                },
                {
                    "name": "\u5916\u9632",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(16,153,130)"
                        }
                    }
                },
                {
                    "name": "\u53d1\u70ed",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(131,91,92)"
                        }
                    }
                },
                {
                    "name": "\u8f93\u5165",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,103,29)"
                        }
                    }
                },
                {
                    "name": "\u533b\u52a1\u4eba\u5458",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,132,8)"
                        }
                    }
                },
                {
                    "name": "\u5546\u52a1\u90e8",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(136,125,71)"
                        }
                    }
                },
                {
                    "name": "\u5916\u6765\u4eba\u5458",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(14,129,66)"
                        }
                    }
                },
                {
                    "name": "\u4e0a\u5c97",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(28,159,9)"
                        }
                    }
                },
                {
                    "name": "\u6bd5\u4e1a\u751f",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,80,81)"
                        }
                    }
                },
                {
                    "name": "\u9ad8\u6821",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,6,93)"
                        }
                    }
                },
                {
                    "name": "\u4eba\u529b\u8d44\u6e90",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,136,78)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u6bd2\u68c0\u6d4b",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(62,127,85)"
                        }
                    }
                },
                {
                    "name": "\u8239\u8236",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(127,27,36)"
                        }
                    }
                },
                {
                    "name": "\u793e\u533a",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,56,108)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u683c\u5316",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,86,46)"
                        }
                    }
                },
                {
                    "name": "\u8fd4\u6821",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(157,133,28)"
                        }
                    }
                },
                {
                    "name": "\u5f00\u5b66",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(59,151,2)"
                        }
                    }
                },
                {
                    "name": "\u53e3\u7f69",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,79,142)"
                        }
                    }
                },
                {
                    "name": "\u590d\u8bfe",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(37,12,4)"
                        }
                    }
                },
                {
                    "name": "\u5ba2\u8fd0",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(6,150,109)"
                        }
                    }
                },
                {
                    "name": "\u7559\u89c2\u533a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,76,14)"
                        }
                    }
                },
                {
                    "name": "\u9884\u68c0\u5206\u8bca",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(133,105,113)"
                        }
                    }
                },
                {
                    "name": "\u5883\u5916",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,53,153)"
                        }
                    }
                },
                {
                    "name": "\u8239\u5458",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,81,153)"
                        }
                    }
                },
                {
                    "name": "\u6e2f\u53e3",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(117,113,61)"
                        }
                    }
                },
                {
                    "name": "\u5c31\u4e1a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(31,98,66)"
                        }
                    }
                },
                {
                    "name": "\u5feb\u9012",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,145,105)"
                        }
                    }
                },
                {
                    "name": "\u5fc3\u7406",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(146,104,48)"
                        }
                    }
                },
                {
                    "name": "\u5fc3\u7406\u5065\u5eb7",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,101,1)"
                        }
                    }
                },
                {
                    "name": "\u53e3\u5cb8",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(68,54,4)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(66,146,126)"
                        }
                    }
                },
                {
                    "name": "\u6551\u6cbb",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(85,46,154)"
                        }
                    }
                },
                {
                    "name": "\u56fd\u5bb6\u836f\u54c1\u76d1\u7763\u7ba1\u7406\u5c40",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(59,39,122)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597\u5668\u68b0",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(118,78,59)"
                        }
                    }
                },
                {
                    "name": "\u751f\u7269",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,78,5)"
                        }
                    }
                },
                {
                    "name": "\u65e9\u9694\u79bb",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(49,93,4)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "4\u6708\u5173\u952e\u8bcd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_33a6e443a5a8401798bdf0f77c4601d9.setOption(option_33a6e443a5a8401798bdf0f77c4601d9);
    </script>
</body>
</html>
