<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="09a27e5c12f84bf98ad6687211aad42d" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_09a27e5c12f84bf98ad6687211aad42d = echarts.init(
            document.getElementById('09a27e5c12f84bf98ad6687211aad42d'), 'white', {renderer: 'canvas'});
        var option_09a27e5c12f84bf98ad6687211aad42d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u4eba\u6c11\u6cd5\u9662",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(61,66,63)"
                        }
                    }
                },
                {
                    "name": "\u68c0\u6d4b",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,104,49)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597\u673a\u6784",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,47,37)"
                        }
                    }
                },
                {
                    "name": "\u805a\u96c6",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,98,126)"
                        }
                    }
                },
                {
                    "name": "\u53e3\u7f69",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,119,87)"
                        }
                    }
                },
                {
                    "name": "\u590d\u4ea7",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,7,142)"
                        }
                    }
                },
                {
                    "name": "\u590d\u5de5",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,10,121)"
                        }
                    }
                },
                {
                    "name": "\u5eb7\u590d",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(110,69,7)"
                        }
                    }
                },
                {
                    "name": "\u60a3\u8005",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,22,50)"
                        }
                    }
                },
                {
                    "name": "\u51fa\u9662",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,82,58)"
                        }
                    }
                },
                {
                    "name": "\u6cbb\u7597",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(30,81,44)"
                        }
                    }
                },
                {
                    "name": "\u590d\u8bfe",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(112,21,37)"
                        }
                    }
                },
                {
                    "name": "\u5c45\u5bb6",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,150,123)"
                        }
                    }
                },
                {
                    "name": "\u5e08\u751f",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,15,27)"
                        }
                    }
                },
                {
                    "name": "\u8001\u5e74\u4eba",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,69,117)"
                        }
                    }
                },
                {
                    "name": "\u6c34\u4ea7\u54c1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,159,121)"
                        }
                    }
                },
                {
                    "name": "\u9ad8\u6821",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(20,125,27)"
                        }
                    }
                },
                {
                    "name": "\u5ba2\u8fd0",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(57,34,126)"
                        }
                    }
                },
                {
                    "name": "\u7559\u89c2\u533a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,145,108)"
                        }
                    }
                },
                {
                    "name": "\u8fdc\u7a0b",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(136,47,153)"
                        }
                    }
                },
                {
                    "name": "\u4e2d\u533b",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,110,17)"
                        }
                    }
                },
                {
                    "name": "\u9694\u79bb",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,90,83)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "5\u6708\u5173\u952e\u8bcd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_09a27e5c12f84bf98ad6687211aad42d.setOption(option_09a27e5c12f84bf98ad6687211aad42d);
    </script>
</body>
</html>
