<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="c25a650e844140a5a74d1e029fa301b3" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_c25a650e844140a5a74d1e029fa301b3 = echarts.init(
            document.getElementById('c25a650e844140a5a74d1e029fa301b3'), 'white', {renderer: 'canvas'});
        var option_c25a650e844140a5a74d1e029fa301b3 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u4eba\u6c11\u6cd5\u9662",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,8,103)"
                        }
                    }
                },
                {
                    "name": "\u8239\u8236",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(28,72,142)"
                        }
                    }
                },
                {
                    "name": "\u8bc9\u8bbc",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,141,108)"
                        }
                    }
                },
                {
                    "name": "\u68c0\u6d4b",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,60,76)"
                        }
                    }
                },
                {
                    "name": "\u6838\u9178",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(159,5,143)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597\u673a\u6784",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(140,46,135)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u6bd2",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(41,32,22)"
                        }
                    }
                },
                {
                    "name": "\u9694\u79bb",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(153,140,120)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u4f8b",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,26,15)"
                        }
                    }
                },
                {
                    "name": "\u533b\u5b66\u89c2\u5bdf",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(120,19,7)"
                        }
                    }
                },
                {
                    "name": "\u4e2d\u533b",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(112,152,27)"
                        }
                    }
                },
                {
                    "name": "\u53d1\u70ed",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,86,59)"
                        }
                    }
                },
                {
                    "name": "\u60a3\u8005",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(120,41,8)"
                        }
                    }
                },
                {
                    "name": "\u5e94\u68c0\u5c3d\u68c0",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(48,93,68)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u6bd2\u68c0\u6d4b",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(112,4,41)"
                        }
                    }
                },
                {
                    "name": "\u9519\u5cf0",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,28,122)"
                        }
                    }
                },
                {
                    "name": "\u805a\u96c6",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,158,29)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,25,41)"
                        }
                    }
                },
                {
                    "name": "\u5ba2\u8fd0",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(107,83,5)"
                        }
                    }
                },
                {
                    "name": "\u5e08\u751f",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(28,40,154)"
                        }
                    }
                },
                {
                    "name": "\u9ad8\u6821",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(127,84,73)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "6\u6708\u5173\u952e\u8bcd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_c25a650e844140a5a74d1e029fa301b3.setOption(option_c25a650e844140a5a74d1e029fa301b3);
    </script>
</body>
</html>
