<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="4f8fbb879d9640f5a7174a247e56b6a8" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_4f8fbb879d9640f5a7174a247e56b6a8 = echarts.init(
            document.getElementById('4f8fbb879d9640f5a7174a247e56b6a8'), 'white', {renderer: 'canvas'});
        var option_4f8fbb879d9640f5a7174a247e56b6a8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u8868\u5f70",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,104,65)"
                        }
                    }
                },
                {
                    "name": "\u68c0\u6d4b",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,43,152)"
                        }
                    }
                },
                {
                    "name": "\u75be\u63a7\u4e2d\u5fc3",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,91,155)"
                        }
                    }
                },
                {
                    "name": "\u6838\u9178",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,31,10)"
                        }
                    }
                },
                {
                    "name": "\u91c7\u6837",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,93,145)"
                        }
                    }
                },
                {
                    "name": "\u51b7\u94fe",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,96,17)"
                        }
                    }
                },
                {
                    "name": "\u7269\u6d41",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,145,21)"
                        }
                    }
                },
                {
                    "name": "\u98df\u54c1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(152,62,119)"
                        }
                    }
                },
                {
                    "name": "\u6d77\u5173",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(146,53,8)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u6bd2",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,130,135)"
                        }
                    }
                },
                {
                    "name": "\u8fdb\u53e3",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,156,120)"
                        }
                    }
                },
                {
                    "name": "\u6e2f\u53e3",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,29,147)"
                        }
                    }
                },
                {
                    "name": "\u5e02\u573a\u76d1\u7ba1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(25,56,65)"
                        }
                    }
                },
                {
                    "name": "\u4ece\u4e1a\u4eba\u5458",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,125,90)"
                        }
                    }
                },
                {
                    "name": "\u6551\u6cbb",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,6,140)"
                        }
                    }
                },
                {
                    "name": "\u5f00\u5b66",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,140,34)"
                        }
                    }
                },
                {
                    "name": "\u8fd4\u6821",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,57,145)"
                        }
                    }
                },
                {
                    "name": "\u6062\u590d\u6b63\u5e38",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,104,160)"
                        }
                    }
                },
                {
                    "name": "\u9ad8\u7b49\u5b66\u6821",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,5,157)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597\u673a\u6784",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(91,71,84)"
                        }
                    }
                },
                {
                    "name": "\u5e02\u573a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(85,143,49)"
                        }
                    }
                },
                {
                    "name": "\u5916\u9632",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,158,116)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "8\u6708\u5173\u952e\u8bcd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_4f8fbb879d9640f5a7174a247e56b6a8.setOption(option_4f8fbb879d9640f5a7174a247e56b6a8);
    </script>
</body>
</html>
