<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="36a37dba840d46d5bb47b440f8e88440" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_36a37dba840d46d5bb47b440f8e88440 = echarts.init(
            document.getElementById('36a37dba840d46d5bb47b440f8e88440'), 'white', {renderer: 'canvas'});
        var option_36a37dba840d46d5bb47b440f8e88440 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u8868\u5f70",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,86,17)"
                        }
                    }
                },
                {
                    "name": "\u68c0\u6d4b",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,18,84)"
                        }
                    }
                },
                {
                    "name": "\u75be\u63a7\u4e2d\u5fc3",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,124,153)"
                        }
                    }
                },
                {
                    "name": "\u6838\u9178",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(140,9,108)"
                        }
                    }
                },
                {
                    "name": "\u91c7\u6837",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,99,13)"
                        }
                    }
                },
                {
                    "name": "\u51b7\u94fe",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(112,85,127)"
                        }
                    }
                },
                {
                    "name": "\u7269\u6d41",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,82,115)"
                        }
                    }
                },
                {
                    "name": "\u98df\u54c1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,96,149)"
                        }
                    }
                },
                {
                    "name": "\u6d77\u5173",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(150,55,130)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u6bd2",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,144,62)"
                        }
                    }
                },
                {
                    "name": "\u8fdb\u53e3",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(39,74,132)"
                        }
                    }
                },
                {
                    "name": "\u6e2f\u53e3",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,141,71)"
                        }
                    }
                },
                {
                    "name": "\u5e02\u573a\u76d1\u7ba1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(26,42,145)"
                        }
                    }
                },
                {
                    "name": "\u4ece\u4e1a\u4eba\u5458",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,17,1)"
                        }
                    }
                },
                {
                    "name": "\u6551\u6cbb",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(56,139,96)"
                        }
                    }
                },
                {
                    "name": "\u5f00\u5b66",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(96,108,112)"
                        }
                    }
                },
                {
                    "name": "\u8fd4\u6821",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(30,75,121)"
                        }
                    }
                },
                {
                    "name": "\u6062\u590d\u6b63\u5e38",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(156,43,43)"
                        }
                    }
                },
                {
                    "name": "\u9ad8\u7b49\u5b66\u6821",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(160,13,132)"
                        }
                    }
                },
                {
                    "name": "\u533b\u7597\u673a\u6784",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,158,99)"
                        }
                    }
                },
                {
                    "name": "\u5e02\u573a",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,62,138)"
                        }
                    }
                },
                {
                    "name": "\u5916\u9632",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,59,14)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "8\u6708\u5173\u952e\u8bcd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_36a37dba840d46d5bb47b440f8e88440.setOption(option_36a37dba840d46d5bb47b440f8e88440);
    </script>
</body>
</html>
