<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="cf0fd187a49c404b9e46d23e6456d5fa" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_cf0fd187a49c404b9e46d23e6456d5fa = echarts.init(
            document.getElementById('cf0fd187a49c404b9e46d23e6456d5fa'), 'white', {renderer: 'canvas'});
        var option_cf0fd187a49c404b9e46d23e6456d5fa = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u75be\u63a7\u4e2d\u5fc3",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,17,143)"
                        }
                    }
                },
                {
                    "name": "\u6838\u9178",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,110,142)"
                        }
                    }
                },
                {
                    "name": "\u51b7\u94fe",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(97,86,128)"
                        }
                    }
                },
                {
                    "name": "\u8fdb\u53e3",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,118,47)"
                        }
                    }
                },
                {
                    "name": "\u75c5\u6bd2",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,87,36)"
                        }
                    }
                },
                {
                    "name": "\u5883\u5916",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,32,129)"
                        }
                    }
                },
                {
                    "name": "\u6d77\u5173",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(143,4,140)"
                        }
                    }
                },
                {
                    "name": "\u98df\u54c1",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,115,9)"
                        }
                    }
                },
                {
                    "name": "\u6d77\u5173\u603b\u7f72",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(43,26,67)"
                        }
                    }
                },
                {
                    "name": "\u751f\u4ea7",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(16,136,62)"
                        }
                    }
                },
                {
                    "name": "\u6297\u75ab",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,46,114)"
                        }
                    }
                },
                {
                    "name": "\u5e08\u751f",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,40,23)"
                        }
                    }
                },
                {
                    "name": "\u5916\u9632",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,20,10)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "9\u6708\u5173\u952e\u8bcd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_cf0fd187a49c404b9e46d23e6456d5fa.setOption(option_cf0fd187a49c404b9e46d23e6456d5fa);
    </script>
</body>
</html>
