<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="0ce83fe3711b487ea7c4c269b99b0de0" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_0ce83fe3711b487ea7c4c269b99b0de0 = echarts.init(
            document.getElementById('0ce83fe3711b487ea7c4c269b99b0de0'), 'white', {renderer: 'canvas'});
        var option_0ce83fe3711b487ea7c4c269b99b0de0 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u5173\u952e\u8bcd",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    53
                ],
                [
                    "2\u6708",
                    90
                ],
                [
                    "3\u6708",
                    66
                ],
                [
                    "4\u6708",
                    57
                ],
                [
                    "5\u6708",
                    22
                ],
                [
                    "6\u6708",
                    21
                ],
                [
                    "7\u6708",
                    34
                ],
                [
                    "8\u6708",
                    22
                ],
                [
                    "9\u6708",
                    13
                ],
                [
                    "10\u6708",
                    24
                ],
                [
                    "11\u6708",
                    21
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5173\u952e\u8bcd"
            ],
            "selected": {
                "\u5173\u952e\u8bcd": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u6708",
                "2\u6708",
                "3\u6708",
                "4\u6708",
                "5\u6708",
                "6\u6708",
                "7\u6708",
                "8\u6708",
                "9\u6708",
                "10\u6708",
                "11\u6708"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "2020\u5e741\u6708 - 11\u6708COVID-19\u5b98\u65b9\u6587\u672c\u5173\u952e\u8bcd\u7edf\u8ba1",
            "subtext": "\u7b97\u6cd5\uff1aTF-IDF / \u8bcd\u5e93\uff1aCOVID-19\u81ea\u5b9a\u4e49\u8bcd\u5e93",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_0ce83fe3711b487ea7c4c269b99b0de0.setOption(option_0ce83fe3711b487ea7c4c269b99b0de0);
    </script>
</body>
</html>
